<!-- Page top section start -->
<div class="page-top-area set-bg" style='background-image: url(../assets/img/headers-bg/2.jpg)'>
    <div class="breadcrumb-area">
        <a href="#">ZeroWaste</a> / <span>Contacto</span>
    </div>
</div>

<div class="map-area" id="map-canvas"></div>


<!-- Contact section start -->
<section class="contact-section set-bg spad" style='background-image: url(../assets/img/contact-bg.jpg)'>
    <div class="container-fluid contact-warp">
        <div class="contact-text">
            <div class="container p-0">
                <span class="sp-sub-title">¡Para que botarlo,si puedes donarlo!</span>
                <h3 class="sp-title"><img src="../assets/img/Logo.svg" style="width: 200px; color: white"></h3>


                <ul class="con-info">
                    <li><i class="flaticon-phone-call"></i>+57 1234567890</li>
                    <li><i class="flaticon-envelope"></i>Contacto@zeroWaste.com.co</li>
                    <li><i class="flaticon-placeholder"></i>Universidad Politécnico Gran colombiano,<br> Bogotá, Colombia
                    </li>
                </ul>
            </div>
        </div>
        <div class="container p-0">
            <div class="row">
                <div class="col-xl-8 offset-xl-4">
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" placeholder="Nombres">
                            </div>
                            <div class="col-md-6">
                                <input type="email" placeholder="Correo electrónico">
                            </div>
                            <div class="col-md-12">
                                <input type="text" placeholder="Asunto">
                                <textarea placeholder="Mensaje"></textarea>
                                <button class="site-btn light">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact section end -->