<!-- Page top section start -->
<div class="page-top-area set-bg" style='background-image: url(../assets/img/headers-bg/3.jpg)'>
    <div class="breadcrumb-area">
        <a href="#">ZeroWaste</a> / <span>Nosotros</span>
    </div>
</div>
<!-- Page top section end -->

<!-- Intro section start -->
<section class="intro-section sp-pad spad">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-xl-5 intro-text">
                <span class="sp-sub-title">¡Para que botarlo,si puedes donarlo!</span>
                <h3 class="sp-title ">ZeroWaste</h3>
                <p class="text-justify">La falta de cultura y la forma en que se manejan los residuos en la ciudad de Bogotá puede generar diversas problemáticas a sus habitantes, el ministerio de ambiente propone el uso de la economía circular como modelo de desarrollo y estrategia
                    para el incremento y mejora de la gestión de residuos en el país, esto a través de unos ejes como lo son la gestión de materiales urbanos, la comunicación y cultura ciudadana. A partir de este proyecto se quiere generar una plataforma
                    tecnológica que aporte al desarrollo de la cultura ciudadana y la implementación de la economía circular, como herramienta que permita el contacto entre los ciudadanos y los diversos actores del procesos y ecosistema del reciclaje
                    en la ciudad. Partiendo desde las organizaciones sin ánimo de lucro que trabajan con recicladores y voluntarios para que gestionen los procesos de recolección de residuos reciclables que los ciudadanos puedan donar.</p>

            </div>
            <div class="col-xl-6 offset-xl-1">
                <figure class="intro-img mt-5 mt-xl-0">
                    <img src="../assets/img/portfolio/A2.jpeg" alt="">
                </figure>
            </div>
        </div>
    </div>
</section>
<!-- Intro section end -->


<!-- Progress section start -->
<div class="progress-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-md-6 cp-item">
                <div class="circle-progress" data-cpid="id-1" data-cpvalue="20" data-cpcolor="#787878" data-cptitle="Sergio Espinosa"></div>
            </div>
            <div class="col-xl-4 col-md-6 cp-item">
                <div class="circle-progress" data-cpid="id-2" data-cpvalue="40" data-cpcolor="#787878" data-cptitle="Natalia Alvarado"></div>
            </div>
            <div class="col-xl-4 col-md-6 cp-item">
                <div class="circle-progress" data-cpid="id-3" data-cpvalue="60" data-cpcolor="#787878" data-cptitle="Tomás Rámirez"></div>
            </div>
            <div class="col-xl-4 col-md-6 cp-item">
                <div class="circle-progress" data-cpid="id-4" data-cpvalue="80" data-cpcolor="#787878" data-cptitle="Julián Vargas"></div>
            </div>
            <div class="col-xl-4 col-md-6 cp-item">
                <div class="circle-progress" data-cpid="id-5" data-cpvalue="100" data-cpcolor="#787878" data-cptitle="Natalia Laserna"></div>
            </div>
        </div>
    </div>
</div>
<!-- Progress section end -->