<!-- Page top section start -->
<div class="page-top-area set-bg" style='background-image: url(../assets/img/headers-bg/2.jpg)'>

</div>

<div data-spy="scroll">
    <div class="site-wrap" id="home-section">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>

        <div class="container d-none d-lg-block">
            <div class="row">
                <div class="col-12 text-center mb-4 mt-5">
                    <h1 class="mb-0 site-logo">
                        <!-- <a [routerLink]="['inicio']" class="text-black h2 mb-0"><img src="../assets/img/Picture1.png" style="width: 200px; color: white"> </a>-->
                    </h1>
                </div>
            </div>
        </div>

        <div class="site-blocks-cover">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-12" style="position: relative;">
                        <img src="../assets/images/landing_1.png" alt="Image" class="img-fluid img-absolute">
                        <div class="row mb-4">
                            <div class="col-lg-4 mr-auto">
                                <h1> ¡Únete a ZeroWaste!
                                </h1>
                                <p class="mb-5">sé uno de los muchos que está apoyando con el medio ambiente.</p>
                                <div class="site-navigation position-relative text-right">
                                    <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                                        <li style="list-style-type: none">
                                            <a href="#contact-section" class="btn btn-primary mr-2 mb-2" role="navigation"> Inicia Aquí!</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section bg-light" id="contact-section">
            <div class="row justify-content-center">
                <div class="main">
                    <!-- Sign up form -->
                    <section class="signup">
                        <div class="container">
                            <div class="signup-content">
                                <div class="signup-form">
                                    <h2 class="form-title">Iniciar sesión</h2>
                                    <form class="register-form" id="register-form">
                                        <div class="form-group">
                                            <label for="email"><i class="zmdi zmdi-email"></i></label>
                                            <input type="email" name="email" id="email" placeholder="correo electrónico" [(ngModel)]="donadorRegistro.correo" />
                                        </div>
                                        <div class="form-group">
                                            <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                            <input type="password" name="pass" id="pass" placeholder="Password" [(ngModel)]="donadorRegistro.password" />
                                        </div>
                                        <div class="form-group form-button">
                                            <input type="button" name="signup" id="signup" class="form-submit" value="Iniciar" (click)="inicioDonador()" />
                                        </div>
                                    </form>
                                </div>
                                <div class="signup-image">
                                    <figure><img src="../assets/img/Picture1.png" alt="sing up image"></figure>
                                    <a class="signup-image-link" (click)="registrar()" style="cursor: pointer"> Quiero ser miembro</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
