<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>


<!-- Header section start -->
<header class="header-section sp-pad">
    <h3 class="site-logo">
        <img src="../assets/img/Logo.svg" style="width: 200px; color: white">

    </h3>
    <form class="search-top">
        <button class="se-btn"><i class="fa fa-search"></i></button>
        <input type="text" placeholder="Search.....">
    </form>
    <div class="nav-switch">
        <i class="fa fa-bars"></i>
    </div>
    <nav class="main-menu">
        <ul>
            <li><a [routerLink]="['inicio']">ZeroWaste</a></li>
            <li><a [routerLink]="['nosotros']">Nosotros</a></li>
            <li><a [routerLink]="['servicios']">Servicios</a></li>
            <li><a [routerLink]="['login']">Iniciar sesión</a></li>
            <li><a [routerLink]="['contacto']">Contact</a></li>
        </ul>
    </nav>
</header>
<!-- Header section end -->

<router-outlet></router-outlet>

<!-- Footer section start -->
<footer class="footer-section spad">
    <div class="container text-center">
        <h2><img src="../assets/img/Logo.svg" style="width: 200px; color: white"></h2>
        <p>¡Para que botarlo, si puedes donarlo!</p>
        <div class="social">
            <a href="#"><i class="fa fa-pinterest"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <br>
            <br>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>
                document.write(new Date().getFullYear());
            </script> is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by Zero Waste
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

        </div>
    </div>
</footer>
<!-- Footer section end -->