<!-- Page top section start -->
<div class="page-top-area set-bg" style='background-image: url(../assets/img/headers-bg/2.jpg)'>
</div>
<!-- Page top section end -->


<!-- Intro section start -->
<section class="intro-section sp-pad spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-5 intro-text">

                <!-- <h3 class="sp-title"><img src="../assets/img/LogoNegro.svg" style="width: 200px; color: white"></h3>-->
                <p class="text-justify"> A partir de este proyecto se quiere generar una plataforma tecnológica que aporte al desarrollo de la cultura ciudadana y la implementación de la economía circular, como herramienta que permita el contacto entre los ciudadanos y los diversos
                    actores del procesos y ecosistema del reciclaje en la ciudad. </p>
            </div>
            <div class="col-xl-4 offset-xl-1">
                <figure class="intro-img mt-5 mt-xl-0">
                    <img src="../assets/img/Logo_slogan.svg" alt="">
                </figure>
            </div>
        </div>
    </div>
</section>
<!-- Intro section end -->

<!-- Portfolio section start -->
<section class="portfolio-section">
    <div class="portfolio-warp">
        <!-- <div class="portfolio-warp" *ngIf="let recogida of misRecogidas"> -->

        <!-- single item -->
        <div class="single-portfolio set-bg" style='background-image: url(../assets/img/portfolio/1.jpg)'>
            <a class="portfolio-info">
                <div class="pfbg set-bg" data-setbg="../assets/img/portfolio/1.jpg"></div>
                <img src="../assets/img/Logo_slogan.svg" style="width: 200px; color: white">
                <p style="color: #99CCCC">¡Para que botarlo, si puedes donarlo!</p>
            </a>
        </div>

        <div class="single-portfolio set-bg" style='background-image: url(../assets/img/portfolio/2.jpg)'>
            <a class="portfolio-info">

                <div class="pfbg set-bg" data-setbg="../assets/img/portfolio/2.jpg"></div>
                <img src="../assets/img/Logo_slogan.svg" style="width: 200px; color: white">
                <p style="font-size:16px;color:black">¡Para que botarlo, si puedes donarlo!</p>
            </a>
        </div>
        <!-- single item -->
        <div class="single-portfolio set-bg" style='background-image: url(../assets/img/portfolio/A3.jpeg)'>
            <a class="portfolio-info">
                <div class="pfbg set-bg" data-setbg="../assets/img/portfolio/3.jpg"></div>
                <img src="../assets/img/Logo_slogan.svg" style="width: 200px; color: white">
                <p>¡Para que botarlo, si puedes donarlo!</p>
            </a>
        </div>
        <!-- single item -->
        <div class="single-portfolio sm-wide set-bg" style='background-image: url(../assets/img/portfolio/4.jpg)'>
            <a class="portfolio-info">
                <div class="pfbg set-bg" data-setbg="../assets/img/portfolio/4.jpg"></div>
                <img src="../assets/img/Logo_slogan.svg" style="width: 200px; color: white">
                <p>¡Para que botarlo, si puedes donarlo!</p>
            </a>
        </div>
        <!-- single item -->
        <div class="single-portfolio sm-wide set-bg " style='background-image: url(../assets/img/portfolio/5.jpg)'>
            <a class="portfolio-info">
                <div class="pfbg set-bg" data-setbg="../assets/img/portfolio/5.jpg"></div>
                <img src="../assets/img/Logo.svg" style="width: 200px; color: white">
                <p>¡Para que botarlo, si puedes donarlo!</p>
            </a>
        </div>
        <!-- single item -->
        <div class="single-portfolio set-bg" style='background-image: url(../assets/img/portfolio/6.jpg)'>
            <a class="portfolio-info">
                <div class="pfbg set-bg" data-setbg="../assets/img/portfolio/6.jpg"></div>
                <img src="../assets/img/Logo.svg" style="width: 200px; color: white">
                <p>¡Para que botarlo, si puedes donarlo!</p>
            </a>
        </div>
        <!-- single item -->
        <div class="single-portfolio sm-wide md-w-100 set-bg " style='background-image: url(../assets/img/portfolio/A4.jpeg)'>
            <a class="portfolio-info">
                <div class="pfbg set-bg" data-setbg="../assets/img/portfolio/4.jpeg"></div>
                <img src="../assets/img/LogoNegro.svg" style="width: 200px; color: white">
                <p>¡Para que botarlo, si puedes donarlo!</p>
            </a>
        </div>
    </div>
    <div class="clearfix"></div>
</section>
<!-- Portfolio section end -->


<!-- Milestones section start -->
<section class="milestones-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 fact-box">
                <div class="fact-content">
                    <i class="flaticon-home"></i>
                    <h2>4</h2>
                    <p>Fundaciones</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 fact-box">
                <div class="fact-content">
                    <i class="flaticon-trophy"></i>
                    <h2>2</h2>
                    <p>Premios</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 fact-box">
                <div class="fact-content">
                    <i class="flaticon-alarm-clock"></i>
                    <h2>23K</h2>
                    <p>Donaciones</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 fact-box">
                <div class="fact-content">
                    <i class="flaticon-laptop"></i>
                    <h2>19</h2>
                    <p>Empresas afiliadas</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Milestones section end -->


<!-- Services section start -->
<section class="services-section spad">
    <div class="container-fluid services-warp">
        <div class="services-text">
            <div class="container p-0">
                <span class="sp-sub-title"> ¡Para que botarlo, si puedes donarlo!</span>
                <h3 class="sp-title">ZeroWaste</h3>
                <p class="text-justify">La falta de cultura y la forma en que se manejan los residuos en la ciudad de Bogotá puede generar diversas problemáticas a sus habitantes, el ministerio de ambiente propone el uso de la economía circular como modelo de desarrollo</p>
            </div>
        </div>
        <div class="container p-0">
            <div class="row">
                <div class="col-xl-8 offset-xl-4">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="icon-box">
                                <i class="flaticon-home"></i>
                                <h4>Objetivo General</h4>
                                <p>Implementar una plataforma web que permita el contacto entre entidades sin animo de lucro y ciudadanos que deseen donar materiales reciclables. </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="icon-box">
                                <i class="flaticon-photo-camera"></i>
                                <h4>Objetivos específicos</h4>
                                <p>Identificar y analizar las principales problemáticas que tienen los ciudadanos y recolectores de reciclaje en la ciudad de Bogotá </p>
                                <p> Diseñar un sistema de software que permita Implementar el sistema de software web</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="icon-box">
                                <i class="flaticon-safebox"></i>
                                <h4>Resultados preliminares</h4>
                                <p>Actualmente se ha desarrollado la primera versión de la plataforma web que permite la conexión entre ciudadanos y entidades sin ánimo de lucro 5.2. La plataforma web construida es multiplataforma 5.3. Estandarización de
                                    información, niveles de interés y seguimientos.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service-more-link">
        <a href="#" class="arrow-btn">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</section>
<!-- Services section start end -->


<!-- Contact section start -->
<section class="contact-section set-bg spad" style='background-image: url(../assets/img/contact-bg.jpg)'>
    <div class="container-fluid contact-warp">
        <div class="contact-text">
            <div class="container p-0">
                <span class="sp-sub-title">¡Para que botarlo, si puedes donarlo!</span>
                <h3 class="sp-title"><img src="../assets/img/Logo.svg" style="width: 200px; color: white"></h3>


                <ul class="con-info">
                    <li><i class="flaticon-phone-call"></i>+57 1234567890</li>
                    <li><i class="flaticon-envelope"></i>Contacto@zeroWaste.com</li>
                    <li><i class="flaticon-placeholder"></i>Universidad Politécnico Grancolombiano,<br> Bogotá, Colombia</li>
                </ul>
            </div>
        </div>
        <div class="container p-0">
            <div class="row">
                <div class="col-xl-8 offset-xl-4">
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" placeholder="Nombres">
                            </div>
                            <div class="col-md-6">
                                <input type="email" placeholder="Correo electrónico">
                            </div>
                            <div class="col-md-12">
                                <input type="text" placeholder="Asunto">
                                <textarea placeholder="Mensaje"></textarea>
                                <button class="site-btn light">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact section end -->
