<!-- Page top section start -->
<div class="page-top-area set-bg" style='background-image: url(../assets/img/headers-bg/2.jpg)'>

</div>

<div data-spy="scroll">
    <div class="site-wrap" id="home-section">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>

        <div class="container d-none d-lg-block">
            <div class="row">
                <div class="col-12 text-center mb-4 mt-5">
                    <h1 class="mb-0 site-logo">
                        <!-- <a [routerLink]="['inicio']" class="text-black h2 mb-0"><img src="../assets/img/LogoNegro.svg" style="width: 200px; color: white"> </a> -->
                    </h1>
                </div>
            </div>
        </div>

        <div class="site-blocks-cover">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-12" style="position: relative;">
                        <img src="../assets/images/landing_1.png" alt="Image" class="img-fluid img-absolute">
                        <div class="row mb-4">
                            <div class="col-lg-4 mr-auto">
                                <h1> ¡Únete a ZeroWaste!
                                </h1>
                                <p class="mb-5">sé uno de los muchos que está apoyando con el medio ambiente.</p>
                                <div class="site-navigation position-relative text-right">
                                    <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                                        <li style="list-style-type: none">
                                            <a class="btn btn-primary mr-2 mb-2" role="navigation"> Inicia Aquí!</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="../assets/img/Picture1.png" alt="sing up image"></figure>
                        <a class="signup-image-link" (click)="inicio()" style="cursor: pointer">iniciar sesión aquí</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Registro</h2>
                        <div class="register-form" id="login-form">
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="name" id="name" placeholder="Nombres" [(ngModel)]="donadorRegistro.nombre" />
                            </div>
                            <div class="form-group">
                                <label for="lastname"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="lastname" id="lastname" placeholder="Apellidos" [(ngModel)]="donadorRegistro.apellido" />
                            </div>
                            <div class="form-group">
                                <label for="mobile"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="number" name="mobile" id="mobile" placeholder="Celular" [(ngModel)]="donadorRegistro.celular" />
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="email" name="email" id="email" placeholder="correo electrónico" [(ngModel)]="donadorRegistro.correo" />
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="your_pass" id="your_pass" placeholder="Password" [(ngModel)]="donadorRegistro.password" />
                            </div>
                            <div class="form-group">
                                <label for="birthday"><i class="zmdi zmdi-lock"></i></label>
                                <input type="date" name="birthday" id="birthday" placeholder="Fecha nacimiento" [(ngModel)]="donadorRegistro.fechaNacimiento" />
                            </div>
                            <div class="form-group form-button">
                                <input type="button" name="signin" id="signin" class="form-submit" value="registrar" (click)="crearDonador()" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
